<div id="create-ready-check">
    <h3>Start New Ready Check</h3>
    <p style="text-align: center; margin-bottom: 1rem"><i>This will overwrite any active ready check!</i></p>

    <div class="buttons">
        <button type="submit"><i class="fas fa-solid fa-save"></i> Start</button>
        {{#if rc.active}}<button data-action="endCheck"><i class="fas fa-solid fa-x"></i> End Current</button>{{/if}}
        <button data-action="closeApp"><i class="fas fa-solid fa-x"></i> Cancel</button>
    </div>
    <hr>
    <h4 style="text-align: center; margin: 0">Options</h4>

    <div class="options">
        <div class="form-group">
            <label for="show-prompt">Show Ready Prompt</label>
            <div class="form-fields">
                <input type="checkbox" name="show-prompt" id="show-prompt" checked>
            </div>
        </div>

        {{#if combat}}
            <div class="form-group">
                <label for="reset-combat">Combat Reset Checks</label>
                <div class="form-fields">
                    <input type="checkbox" name="reset-combat" id="reset-combat" checked>
                    <div>Progressing to the next combat round will reset everyone's ready status</div>
                </div>
            </div>
        {{else}}
            <div class="form-group">
                <label for="track-rounds">Track Rounds</label>
                <div class="form-fields">
                    <input type="checkbox" name="track-rounds" id="track-rounds" {{trackRounds}}>
                    <div>Increments a turn counter in this popup when no combat is active.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="reset-rounds" style="flex: 0 0 30%; margin-top: 0.35rem;">Reset Rounds</label>
                <div class="form-fields">
                    <input type="checkbox" name="reset-rounds" id="reset-rounds">
                    <div>Reset rounds when the above option is enabled.</div>
                </div>
            </div>
        {{/if}}
    </div>


    <div class="time-info">
        {{#if previous}}
            <hr>
            <div>
                <div>Previous Ready Check: {{ previous }} {{#if previous}}({{ difference }} ago){{/if}}</div>
                <div>{{#if roundStarted}}on round {{ roundStarted }}{{#if combat}} (current: {{combat.round}}){{/if}}{{/if}}</div>
            </div>
        {{/if}}
    </div>
</div>
